<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomConfigurationSection" type="AirlineApp.BLL.CustomConfigurationSection, AirlineApp.BLL" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>



  <!-- Data Folder path which contain text files. -->
  <CustomConfigurationSection>
    <DataFolders>
      <add name="Input" path="I:\Development\Code Test\Testdata\Input"  />
      <add name="Output" path="I:\Development\Code Test\Testdata\Output"/>
    </DataFolders>
  </CustomConfigurationSection>
</configuration>